.single-char {
  margin: 15px 0 35px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &__photo {
    border: 5px solid #f2f2f7;
    border-radius: 150px;
  }
  &__title {
    margin-top: 15px;
    font-weight: 400;
    font-size: 48px;
  }
  &__description {
    margin: 40px auto;
  }
  &__informations {
    display: flex;
    flex-direction: column;
    &-title {
      margin: 0 auto;
      margin-bottom: 36px;
      font-weight: 700;
      font-size: 16px;
      color: #8e8e93;
    }
    &-item {
      width: 413px;
      height: 64px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      -webkit-box-shadow: 0 4px 6px -6px #222;
      -moz-box-shadow: 0 4px 6px -6px #222;
      box-shadow: 0 4px 6px -6px #222;
    }
  }
}

span {
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
  color: #6e798c;
}
