button {
  display: block;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  width: 154px;
  height: 36px;
  background: #f2f9fe;
  box-shadow: 0px 3px 5px rgba(4, 157, 165, 0.2),
    0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px 7px #00ced1;
    transition: box-shadow 0.5s, transform 0.5s;
  }
  &:not(:hover) {
    transition: box-shadow 0.5s, transform 0.5s;
  }
  &:focus {
    transform: scale(1.1);
    box-shadow: 0 0 15px 7px #00ced1;
    transition: box-shadow 0.5s, transform 0.5s;
  }
}
.button__return {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  top: 42px;
  left: 0;
  div {
    margin-left: 10px;
  }
}
